body {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.knock-button {
  margin-top: 30vh;
  padding: 10px 50px;
  background-color: rgb(65, 255, 217);
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 15vw;
  font-family: avenir, sans-serif;
  -webkit-box-shadow: 0px 10px 0px rgb(77, 204, 179);
  box-shadow: 0px 10px 0px rgb(77, 204, 179);
}

.knock-button:focus {
  outline: 0;
}

.knock-button:active {
  margin-top: 31vh;
  background-color: rgb(105, 219, 197);
  -webkit-box-shadow: 0px 4px 0px rgb(43, 145, 125);
  box-shadow: 0px 4px 0px rgb(43, 145, 125);
}

@-webkit-keyframes slide-up {
  0% {
    top: 100%;
  }

  70% {
    top: -2%;
  }

  80% {
    top: 8%;
  }

  100% {
    top: 5%;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    top: 100%;
  }

  70% {
    top: -2%;
  }

  80% {
    top: 8%;
  }

  100% {
    top: 5%;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

@-webkit-keyframes pulsate {
  0% {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  50% {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }

  100% {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  50% {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }

  100% {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

.tick {
  position: absolute;
  font-size: 200px;
  top: 100%;
  zoom: 1;
  filter: alpha(opacity=10);
  opacity: 0.1;
  color: #fff;
  margin-left: -90px;
  -webkit-animation: slide-up 1.5s forwards;
  animation: slide-up 1.5s forwards;
}

.dot {
  font-size: 10vw;
  display: inline-block;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  color: rgb(65, 255, 217);
  padding: 2.5vw;
  margin-top: 30vh;
  -webkit-animation: pulsate 2s infinite;
  animation: pulsate 2s infinite;
}
